<%- include('../partials/header'); %>

     <!-- Begin Page Content -->
     <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Families</h1>
        <p class="mb-4">You can search and edit family details.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Families</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Manage</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>NIC</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Religion</th>
                    <th>Ethnic</th>
                    <th>Job</th>
                    <th>Monthly Income</th>
                    <th>Temporary Address</th>
                    <th>Permanent Address</th>
                  </tr>
                </thead>                
                <tbody>
                    <% families.forEach(function(family) { %>
                        <tr>
                            <td class="text-center"><a href="/edit-family/<%= family.id %>" class="btn btn-success btn-circle btn-sm"><i class="fas fa-pen"></i></a></td>
                            <td class="text-center"><%= family.fname %></td>
                            <td class="text-center"><%= family.lname %></td>
                            <td class="text-center"><%= family.dob %></td>
                            <td class="text-center"><%= family.nic %></td>
                            <td class="text-center"><%= family.email %></td>
                            <td class="text-center"><%= family.mobile %></td>
                            <td class="text-center"><%= family.religion %></td>
                            <td class="text-center"><%= family.ethnic %></td>
                            <td class="text-center"><%= family.job %></td>
                            <td class="text-center"><%= family.monthlyIncome %></td>
                            <td class="text-center"><%= family.temporaryAddress %></td>
                            <td class="text-center"><%= family.permanentAddress %></td>
                        </tr>
                    <% }); %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Manage</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>NIC</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Religion</th>
                        <th>Ethnic</th>
                        <th>Job</th>
                        <th>Monthly Income</th>
                        <th>Temporary Address</th>
                        <th>Permanent Address</th>
                    </tr>
                  </tfoot>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


<%- include('../partials/footer'); %>





